.calculator {
  display: flex;
  flex-wrap: wrap;
  max-width: 15rem;

  input {
    width: 100%;
    text-align: right;
  }

  button {
    width: 25%;
  }

  button:nth-last-child(2) {
    width: 75%;
  }
}
