//Default colors
$darkBrown: #5d5c61;
$lightBrown: #928e93;
$lightBlue: #7395ae;
$darkBlue: #557a95;
$sand: #b1a296;
$black: #000000;
$wheat: #f5deb3;
$light-grey: #777676;
$sand-2: #f5f0e6;
$sand-3: #c3b190;
$red: #ff0000;

//Colors for custom glass background
$glass-blue: rgba(32, 152, 255, 0.6);
$glass-violet: rgba(172, 50, 249, 0.6);
