@import "colors";

/* 
Ypač maži įrenginiai (telefonai, 600 pikselių ir žemesni) 
@media only screen and (max-width: 600px)

Maži įrenginiai (planšetiniai kompiuteriai ir dideli telefonai, 600 pikselių ir daugiau)
@media only screen and (min-width: 600px)

Vidutiniai įrenginiai (kraštovaizdžio planšetiniai kompiuteriai, 768 pikselių ir didesni)
@media only screen and (min-width: 768px)

Dideli įrenginiai (nešiojamieji kompiuteriai / staliniai kompiuteriai, 992 tapikseliųškų ir didesni)
@media only screen and (min-width: 992px)

Ypač dideli įrenginiai (dideli nešiojamieji kompiuteriai ir staliniai kompiuteriai, 1 200 pikselių ir didesni)
@media only screen and (min-width: 1280px) 
*/

html {
  background-color: $sand;
}

h1 {
  margin: 20px 0;
}

.squared-list {
  list-style-type: square;
}

.text-center {
  text-align: center;
}

nav {
  background-color: $darkBrown;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;

  a {
    display: block;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  }

  a:hover {
    background-color: #9a99a1;
  }

  span {
    color: $lightBlue;
    font-size: 2rem;
  }
}

.nav-items {
  padding: 1rem 0;
}

.car-container {
  border: 0.4rem solid $black;
  margin: 0.5rem;
  text-align: center;
  background-color: $wheat;
}

.car-items-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.car-item {
  border: 0.2rem solid $light-grey;
  margin: 0.5rem 0.1rem;
  max-width: 400px;
  padding: 1rem;
  transition: 0.2s linear;

  :hover {
    border: 0.2rem solid $red;
    background-color: $sand-3;
  }

  .custom-paragraph {
    background-color: $sand-2;
    padding: 0.5rem;
  }
}

.car-type-title {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  nav {
    font-size: 20px;
    display: flex;
    align-items: center;

    a {
      display: inline-block;
      padding: 1rem 0;
      width: 45%;
    }

    .logo {
      font-size: 25px;
      flex-basis: 15%;
    }

    .search {
      display: flex;
      flex-basis: 20%;

      input {
        margin-right: 0.1rem;
      }
    }

    .nav-items {
      flex-basis: 65%;
    }
  }

  .car-items-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
  }

  .car-item:nth-child(2) {
    justify-self: start;
  }
}

@media only screen and (min-width: 992px) {
  nav a {
    width: 35%;
  }
}

@media only screen and (min-width: 1280px) {
  nav {
    padding: 0;

    a {
      padding: 1rem;
      width: auto;
    }
  }
  .car-items-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .car-item:nth-child(2) {
    justify-self: auto;
  }
}

footer {
  background-color: $lightBrown;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  h3 {
    width: 100%;
    text-align: center;
  }
}

img {
  max-width: 400px;
  width: 100%;
}

#glass-object {
  margin: 1rem 0;
  border-radius: 25px;
  backdrop-filter: blur(18px);
  padding: 2rem;
  box-sizing: border-box;
  background-image: linear-gradient(45deg, $glass-blue, $glass-violet);
  width: 100%;
  min-height: 70px;
  mix-blend-mode: hard-light;
}
#text-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#glass-container {
  position: relative;
  width: 100%;
  height: 80px;
}
